# #pip import e pack e etc etc

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style()

Obter dados

In [0]:
# endereço dos dados originais http://data.insideairbnb.com/brazil/rj/rio-de-janeiro/2019-11-22/visualisations/listings.csv
df = pd.read_csv('http://data.insideairbnb.com/brazil/rj/rio-de-janeiro/2019-11-22/visualisations/listings.csv')

Exiber o começo para verificar a estrutura

In [0]:
df.head()

      id  ... availability_365
0  17878  ...              303
1  25026  ...              119
2  31560  ...               88
3  35636  ...               85
4  35764  ...              128

[5 rows x 16 columns]